.desktop {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #111111;
  overflow: hidden;
}

.desktopBg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bgAnimation .2s infinite;
  opacity: .9;
  visibility: visible;
  z-index: 0;
}

@keyframes bgAnimation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

.menuBar {
  background-color: #000;
  border-bottom: 2px solid #000;
  overflow: hidden;
}

.menuItems {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0 1em;
  margin: 0;
  background-color: #fff;
  border-radius: 0.5em 0.5em 0 0;
  cursor: default;
}

.menuItems li {
  padding: 0.2rem 0.8rem;
  margin: 0;
  margin-bottom: 0.1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.window {
  display: none;
  flex-direction: column;
  width: min(600px);
  min-width: 320px;
  min-height: 100px;
  background-color: #fff;
  border: 2px solid #000;
}

.window[data-is-open="true"] {
  display: flex;
}

.titleBar {
  display: flex;
  align-items: center;
  height: 1.5rem;
  margin: 0.1rem 0;
  padding: 0.2rem 0.1rem;
  background: linear-gradient(#000 50%, transparent 50%);
  background-size: 6.66% 13.33%;
  background-clip: content-box;
  cursor: move;
}

.title {
  padding: 0 0.5em;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  background: #fff;
  cursor: default;
}

.detailsBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  border: 2px solid black;
  border-width: 2px 0;
  font-size: 1rem;
}

.windowPane {
  overflow-y: auto;
  padding: 1.5rem 2.5rem;
  margin-bottom: 1rem;
} 